body {
    font-size: large;
    font-family: sans-serif;
    max-width: 1200px;
}

nav {
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: solid 4px grey;
}

nav ul {
    border: 1px solid black;
}

nav li {
    position: relative;
    list-style: none;
    border: solid 1px;
    border-bottom: 0;
    border-right: 0;
    left: -50px;
    width: 100%;
    padding: 10px 0 10px 50px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

main {
    position: absolute;
    margin-left: 310px;
}

p {
    margin-left: 20px;
}

code {
    display: block;
    padding: 20px;
    margin: 20px;
    background-color: lightgray;
}

header {
    font-size: 1.8em;
    font-weight: 600;
}

section {
    padding: 30px;
}

@media (max-width: 800px) {
    nav {
        position: absolute;
        top: 0;
        width: 100%;
    }

    nav ul {
        overflow-y: auto;
        overflow-x: hidden;
        height: 180px;
    }

    main {
        position: relative;
        margin-left: 0;
        margin-top: 250px;
    }
}